---
http_interactions:
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/distributions/EMD_9A7FZioL5pgxxxx/links?surveyId=SV_eVtvUQALTlL8Uzr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      -
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta":{"httpStatus":"404 - Not Found","error":{"errorMessage":"Distribution
        not found.","errorCode":"GED_3"},"requestId":"08d8caf1-ad8c-4170-a5f6-0f393ce4bc8a","notice":"Request
        proxied. For faster response times, use this host instead: az1.qualtrics.com"}}'
  recorded_at: Wed, 03 Jul 2019 21:59:04 GMT
recorded_with: VCR 3.0.3
