---
http_interactions:
- request:
    method: post
    uri: https://co1.qualtrics.com/API/v3/distributions
    body:
      encoding: UTF-8
      string: '{"action":"CreateDistribution","surveyId":"SV_eVtvUQALTlL8Uzr","mailingListId":"ML_3wO6vOd0yrRezyd","description":"Foobar","linkType":"Individual"}'
    headers:
      X-API-TOKEN:
      -
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      request-time:
      - '457'
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":{"id":"EMD_9A7FZioL5pgWZJb"},"meta":{"httpStatus":"200 -
        OK","requestId":"91e89c39-569b-4084-9822-88c4dc30ea9f","notice":"Request proxied.
        For faster response times, use this host instead: az1.qualtrics.com"}}'
  recorded_at: Mon, 24 Jun 2019 01:48:01 GMT
recorded_with: VCR 3.0.3
