---
http_interactions:
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/distributions/EMD_9A7FZioL5pgWZJb/links?surveyId=SV_eVtvUQALTlL8Uzr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      -
  response:
    status:
      code: 200
      message: 
    headers:
      request-time:
      - '469'
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":{"elements":[{"contactId":"MLRP_3eXXOwwpdF6jw7X","link":"https://foobar.az1.qualtrics.com/SE?Q_DL=9A7FZioL5pgWZJb_eVtvUQALTlL8Uzr_MLRP_3eXXOwwpdF6jw7X","exceededContactFrequency":false,"linkExpiration":"2019-08-23T01:48:04Z","status":"Email
                      not sent","lastName":"Foo","firstName":"Bar","externalDataReference":"29","email":"foo@bar.com","unsubscribed":"0"}]},"meta":{"httpStatus":"200
                      - OK","requestId":"4206e074-eb62-44e7-a238-dcabcb003764","notice":"Request
                      proxied. For faster response times, use this host instead: az1.qualtrics.com"}}'
  recorded_at: Mon, 24 Jun 2019 02:22:58 GMT
recorded_with: VCR 3.0.3
