---
http_interactions:
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/distributions/EMD_9A7FZioL5pgWZJb/links?surveyId=SV_eVtvUQALTlL8Uzr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      -
  response:
    status:
      code: 200
      message: 
    headers:
      request-time:
      - '392'
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{
                                "result":{
                                  "elements":[
                                  {
                                    "contactId":"MLRP_3eXXOwwpdF6jw7X",
                                    "link":"https://scienceexchange.az1.qualtrics.com/SE?Q_DL=9A7FZioL5pgWZJb_eVtvUQALTlL8Uzr_MLRP_3eXXOwwpdF6jw7X",
                                    "exceededContactFrequency":false,
                                    "linkExpiration":"2019-08-23T01:48:04Z",
                                    "status":"Email
                                      not sent",
                                    "lastName":"Foo",
                                    "firstName":"Bario",
                                    "externalDataReference":"29",
                                    "email":"foo.bario@emailtest.com",
                                    "unsubscribed":"0"
                                  },
                                  {
                                    "contactId":"MLRP_0vqUwLNKUSO9fqR",
                                    "link":"https://scienceexchange.az1.qualtrics.com/SE?Q_DL=9A7FZioL5pgWZJb_eVtvUQALTlL8Uzr_MLRP_0vqUwLNKUSO9fqR",
                                    "exceededContactFrequency":false,
                                    "linkExpiration":"2019-08-23T01:48:04Z",
                                    "status":"Email
   [...]
- request:
    method: get
    uri: https://az1.qualtrics.com/API/v3/distributions/EMD_9A7FZioL5pgWZJb/links?proxyDepth=1&proxyInfo=%7B%22proxyDepth%22%3A1%7D&skipToken=MLRP_2trBWUssJTdtDF3&surveyId=SV_eVtvUQALTlL8Uzr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      -
  response:
    status:
      code: 200
      message: 
    headers:
      request-time:
      - '195'
      content-type:
      - application/json
      x-edgeconnect-midmile-rtt:
      - '29'
      x-edgeconnect-origin-mex-latency:
      - '355'
    body:
      encoding: UTF-8
      string: '{
                                "result":{
                                  "elements":[
                                  {
                                    "contactId":"MLRP_3eXXOwwpdF6jw7X",
                                    "link":"https://scienceexchange.az1.qualtrics.com/SE?Q_DL=9A7FZioL5pgWZJb_eVtvUQALTlL8Uzr_MLRP_3eXXOwwpdF6jw7X",
                                    "exceededContactFrequency":false,
                   [...]
- request:
    method: get
    uri: https://az1.qualtrics.com/API/v3/distributions/EMD_9A7FZioL5pgWZJb/links?proxyDepth=1&proxyInfo=%7B%22proxyDepth%22%3A1%7D&skipToken=MLRP_5w3V5GuMGzOzERT&surveyId=SV_eVtvUQALTlL8Uzr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      -
  response:
    status:
      code: 200
      message: 
    headers:
      request-time:
      - '178'
      content-type:
      - application/json
      x-edgeconnect-midmile-rtt:
      - '[...]
