---
http_interactions:
- request:
    method: post
    uri: https://co1.qualtrics.com/API/v3/eventsubscriptions
    body:
      encoding: UTF-8
      string: '{"publicationUrl":"https://request.url.fake","topics":"surveyengine.partialResponse.SV_ANOTHER_SURVEY","encrypt":false}'
    headers:
      X-API-TOKEN:
      - 6Wpo0Vsx1cN1kcHivCaGTz5IhOvchLrg1o4L0KOZ
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      request-time:
      - '381'
      content-type:
      - application/json
      x-edgeconnect-midmile-rtt:
      - '20'
      x-edgeconnect-origin-mex-latency:
      - '429'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"SUB_0fHFD2hnaSp9veZ"},"meta":{"httpStatus":"200 -
        OK","requestId":"cd3306e3-b58b-4930-86d8-77909aeea772"}}'
  recorded_at: Mon, 04 Dec 2017 23:14:25 GMT
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/eventsubscriptions/SUB_0fHFD2hnaSp9veZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      - 6Wpo0Vsx1cN1kcHivCaGTz5IhOvchLrg1o4L0KOZ
  response:
    status:
      code: 200
      message: 
    headers:
      request-time:
      - '226'
      content-type:
      - application/json
      x-edgeconnect-midmile-rtt:
      - '25'
      x-edgeconnect-origin-mex-latency:
      - '272'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"SUB_0fHFD2hnaSp9veZ","scope":"cambridgetripod","topics":"surveyengine.partialResponse.SV_ANOTHER_SURVEY","publicationUrl":"https://request.url.fake","encrypted":false,"successfulCalls":0},"meta":{"httpStatus":"200
        - OK","requestId":"2d448524-8850-4865-82c1-2a8923f3ee2c"}}'
  recorded_at: Mon, 04 Dec 2017 23:14:26 GMT
recorded_with: VCR 2.9.3
