---
http_interactions:
- request:
    method: post
    uri: https://co1.qualtrics.com/API/v3/eventsubscriptions
    body:
      encoding: UTF-8
      string: '{"publicationUrl":"https://some.url.fake","topics":"surveyengine.completedResponse.SV_SOME_SURVEY_ID","encrypt":false}'
    headers:
      X-API-TOKEN:
      - 6Wpo0Vsx1cN1kcHivCaGTz5IhOvchLrg1o4L0KOZ
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      request-time:
      - '589'
      content-type:
      - application/json
      x-edgeconnect-midmile-rtt:
      - '19'
      x-edgeconnect-origin-mex-latency:
      - '638'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"SUB_bJz4lXj0Uku1IQ5"},"meta":{"httpStatus":"200 -
        OK","requestId":"47fa2920-1f39-4ab8-84b5-f577fdb025e0"}}'
  recorded_at: Mon, 04 Dec 2017 22:46:35 GMT
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/eventsubscriptions/SUB_bJz4lXj0Uku1IQ5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      - 6Wpo0Vsx1cN1kcHivCaGTz5IhOvchLrg1o4L0KOZ
  response:
    status:
      code: 200
      message: 
    headers:
      request-time:
      - '300'
      content-type:
      - application/json
      x-edgeconnect-midmile-rtt:
      - '24'
      x-edgeconnect-origin-mex-latency:
      - '451'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"SUB_bJz4lXj0Uku1IQ5","scope":"cambridgetripod","topics":"surveyengine.completedResponse.SV_SOME_SURVEY_ID","publicationUrl":"https://some.url.fake","encrypted":false,"successfulCalls":0},"meta":{"httpStatus":"200
        - OK","requestId":"b50a7391-7285-4570-b5c3-6cb3c1577020"}}'
  recorded_at: Mon, 04 Dec 2017 22:46:36 GMT
recorded_with: VCR 2.9.3
