---
http_interactions:
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/eventsubscriptions/SUB_2i7QDi3PXEK4eqx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      - 6Wpo0Vsx1cN1kcHivCaGTz5IhOvchLrg1o4L0KOZ
  response:
    status:
      code: 200
      message: 
    headers:
      request-time:
      - '263'
      content-type:
      - application/json
      x-edgeconnect-midmile-rtt:
      - '13'
      x-edgeconnect-origin-mex-latency:
      - '311'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"SUB_2i7QDi3PXEK4eqx","scope":"cambridgetripod","topics":"controlpanel.activateSurvey","publicationUrl":"https://requestb.in/1mnrk0m1","encrypted":false,"successfulCalls":0},"meta":{"httpStatus":"200
        - OK","requestId":"0128b47a-36b2-44c4-a515-eb6e401da0a0"}}'
  recorded_at: Mon, 04 Dec 2017 22:18:18 GMT
[...]
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/eventsubscriptions/SUB_2i7QDi3PXEK4eqx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      - 6Wpo0Vsx1cN1kcHivCaGTz5IhOvchLrg1o4L0KOZ
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - application/json
      x-edgeconnect-midmile-rtt:
      - '14'
      x-edgeconnect-origin-mex-latency:
      - '410'
    body:
      encoding: UTF-8
      string: '{"meta":{"httpStatus":"404 - Not Found","error":{"errorMessage":"SUB_2i7QDi3PXEK4eqx
        not found","errorCode":"ESSG_2"},"requestId":null}}'
  recorded_at: Mon, 04 Dec 2017 22:18:19 GMT
recorded_with: VCR 2.9.3
