---
http_interactions:
- request:
    method: post
    uri: https://co1.qualtrics.com/API/v3/eventsubscriptions
    body:
      encoding: UTF-8
      string: '{"publicationUrl":"https://some.random.url","topics":"controlpanel.activateSurvey","encrypt":false}'
    headers:
      X-API-TOKEN:
      - 6Wpo0Vsx1cN1kcHivCaGTz5IhOvchLrg1o4L0KOZ
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      request-time:
      - '1226'
      content-type:
      - application/json
      x-edgeconnect-midmile-rtt:
      - '23'
      x-edgeconnect-origin-mex-latency:
      - '1287'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"SUB_5pPHcNfCaiADoFf"},"meta":{"httpStatus":"200 -
        OK","requestId":"acedea00-c9df-4afa-937a-9040faeea301"}}'
  recorded_at: Mon, 04 Dec 2017 21:51:07 GMT
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/eventsubscriptions/SUB_5pPHcNfCaiADoFf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      - 6Wpo0Vsx1cN1kcHivCaGTz5IhOvchLrg1o4L0KOZ
  response:
    status:
      code: 200
      message: 
    headers:
      request-time:
      - '342'
      content-type:
      - application/json
      x-edgeconnect-midmile-rtt:
      - '17'
      x-edgeconnect-origin-mex-latency:
      - '392'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"SUB_5pPHcNfCaiADoFf","scope":"cambridgetripod","topics":"controlpanel.activateSurvey","publicationUrl":"https://some.random.url","encrypted":false,"successfulCalls":0},"meta":{"httpStatus":"200
        - OK","requestId":"3c7789ec-e3ab-423b-9da3-cb36ff97f339"}}'
  recorded_at: Mon, 04 Dec 2017 21:51:07 GMT
recorded_with: VCR 2.9.3
