---
http_interactions:
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/eventsubscriptions/SUB_6XMPw9UoySyGNyl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      - 6Wpo0Vsx1cN1kcHivCaGTz5IhOvchLrg1o4L0KOZ
  response:
    status:
      code: 200
      message: 
    headers:
      request-time:
      - '454'
      content-type:
      - application/json
      x-edgeconnect-midmile-rtt:
      - '22'
      x-edgeconnect-origin-mex-latency:
      - '504'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"SUB_6XMPw9UoySyGNyl","scope":"cambridgetripod","topics":"controlpanel.activateSurvey","publicationUrl":"https://requestb.in/1mnrk0m1","encrypted":false,"successfulCalls":0},"meta":{"httpStatus":"200
        - OK","requestId":"9ce297f0-0e9b-49fa-9710-ef53cde43b90"}}'
  recorded_at: Mon, 04 Dec 2017 21:22:04 GMT
recorded_with: VCR 2.9.3
