---
http_interactions:
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/eventsubscriptions/pewpewpewpew
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      - 6Wpo0Vsx1cN1kcHivCaGTz5IhOvchLrg1o4L0KOZ
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - application/json
      x-edgeconnect-midmile-rtt:
      - '23'
      x-edgeconnect-origin-mex-latency:
      - '397'
    body:
      encoding: UTF-8
      string: '{"meta":{"httpStatus":"404 - Not Found","error":{"errorMessage":"pewpewpewpew
        not found","errorCode":"ESSG_2"},"requestId":null}}'
  recorded_at: Mon, 04 Dec 2017 21:24:24 GMT
recorded_with: VCR 2.9.3
