---
http_interactions:
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/eventsubscriptions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      - 6Wpo0Vsx1cN1kcHivCaGTz5IhOvchLrg1o4L0KOZ
  response:
    status:
      code: 200
      message: 
    headers:
      request-time:
      - '320'
      content-type:
      - application/json
      x-edgeconnect-midmile-rtt:
      - '21'
      x-edgeconnect-origin-mex-latency:
      - '366'
    body:
      encoding: UTF-8
      string: '{"result":{"elements":[{"id":"SUB_86W2qbYSvtEp9f7","scope":"cambridgetripod","topics":"controlpanel.activateSurvey","publicationUrl":"https://requestb.in/1mnrk0m1","encrypted":false,"successfulCalls":0},{"id":"SUB_8jlPETNFfH7x2Cx","scope":"cambridgetripod","topics":"controlpanel.activateSurvey","publicationUrl":"https://requestb.in/1mnrk0m1","encrypted":false,"successfulCalls":0},{"id":"SUB_a5XSeQjE0aK7mIZ","scope":"cambridgetripod","topics":"controlpanel.activateSurvey","publicationUrl":"https://requestb.in/1mnrk0m1","encrypted":false,"successfulCalls":0}],"nextPage":null},"meta":{"httpStatus":"200
        - OK","requestId":"961442ab-cafb-466b-b139-00b691b1e16e"}}'
  recorded_at: Mon, 04 Dec 2017 22:37:44 GMT
[...]
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/eventsubscriptions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      - 6Wpo0Vsx1cN1kcHivCaGTz5IhOvchLrg1o4L0KOZ
  response:
    status:
      code: 200
      message: 
    headers:
      request-time:
      - '283'
      content-type:
      - application/json
      x-edgeconnect-midmile-rtt:
      - '26'
      x-edgeconnect-origin-mex-latency:
      - '326'
    body:
      encoding: UTF-8
      string: '{"result":{"elements":[],"nextPage":null},"meta":{"httpStatus":"200
        - OK","requestId":"4fd9563e-f7b4-4e50-a5a3-495aa3bd25e2"}}'
  recorded_at: Mon, 04 Dec 2017 22:37:45 GMT
recorded_with: VCR 2.9.3
