---
http_interactions:
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/mailinglists/ML_0APx3C4rmHER6w5/contactimports/PGRS_4GvIMg79RFEPW4d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      - 6Wpo0Vsx1cN1kcHivCaGTz5IhOvchLrg1o4L0KOZ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      request-time:
      - '97'
    body:
      encoding: UTF-8
      string: '{"result":{"percentComplete":100.0},"meta":{"httpStatus":"200 - OK"}}'
  recorded_at: Wed, 13 Apr 2016 09:18:25 GMT
recorded_with: VCR 2.9.3
