---
http_interactions:
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/mailinglists/ML_00c5BS2WNUCWQIt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      - 6Wpo0Vsx1cN1kcHivCaGTz5IhOvchLrg1o4L0KOZ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      request-time:
      - '216'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"ML_00c5BS2WNUCWQIt","libraryId":"UR_5dURLpfp5tm43EV","name":"Panel name","category":"Unassigned"},"meta":{"httpStatus":"200 -
        OK"}}'
  recorded_at: Wed, 13 Apr 2016 13:15:28 GMT
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/mailinglists/ML_00c5BS2WNUCWQI0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      - 6Wpo0Vsx1cN1kcHivCaGTz5IhOvchLrg1o4L0KOZ
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta":{"httpStatus":"400 - Bad Request","error":{"errorMessage":"Invalid
        mailingListId parameter. Mailing list not found","errorCode":"GP_0"}}}'
  recorded_at: Wed, 13 Apr 2016 13:15:35 GMT
recorded_with: VCR 2.9.3
