---
http_interactions:
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v1/panels?apiToken=6Wpo0Vsx1cN1kcHivCaGTz5IhOvchLrg1o4L0KOZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"Error","errorMessage":"Missing or invalid parameter
        panelId.","internalErrorCode":"GPR_1","errorId":"f399b7aa-7ce4-4d1d-9903-61435a929a9d"},"result":null}'
  recorded_at: Tue, 30 Jun 2015 11:02:46 GMT
recorded_with: VCR 2.9.3
