---
http_interactions:
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/mailinglists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      - 2aYeWieRoRq1cOapLnTKZuHuQc8FMq7zZvSGps0v
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      request-time:
      - '742'
    body:
      encoding: UTF-8
      string: '{"result":{"elements":[{"panelId":"AB_abcdefghijk","name":"Master Panel","libraryId":"GR_abcdefghijk","category":"Unassigned"}],"nextPage":"https://co1.qualtrics.com/API/v3/mailinglists?offset=10"},"meta":{"httpStatus":"200
        - OK"}}'
  recorded_at: Mon, 11 Apr 2016 13:26:52 GMT
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/mailinglists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      - 2aYeWieRoRq1cOapLnTKZuHuQc8FMq7zZvSGps0v
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      request-time:
      - '742'
    body:
      encoding: UTF-8
      string: '{"result":{"elements":[{"panelId":"AB_abcdefghijk","name":"Master Panel","libraryId":"GR_abcdefghijk","category":"Unassigned"}],"nextPage":"https://co1.qualtrics.com/API/v3/mailinglists?offset=20"},"meta":{"httpStatus":"200
        - OK"}}'
  recorded_at: Mon, 11 Apr 2016 13:26:52 GMT
recorded_with: VCR 2.9.3
