---
http_interactions:
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/mailinglists/ML_ez0Gj1S4SX4TZjv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      - xxx
  response:
    status:
      code: 200
      message: 
    headers:
      request-time:
      - '429'
      content-type:
      - application/json
      x-edgeconnect-midmile-rtt:
      - '14'
      x-edgeconnect-origin-mex-latency:
      - '476'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"ML_ez0Gj1S4SX4TZjv","libraryId":"UR_5dURLpfp5tm43EV","name":"NYC05
        QN-SPS-NYC-STU-EL-6","category":"Unassigned","folder":null},"meta":{"httpStatus":"200
        - OK","requestId":"66f0f343-665b-4616-b525-c367fecfc760"}}'
  recorded_at: Mon, 08 Jan 2018 16:45:29 GMT
- request:
    method: post
    uri: https://co1.qualtrics.com/API/v3/mailinglists/ML_ez0Gj1S4SX4TZjv/contacts
    body:
      encoding: UTF-8
      string: '{"firstName":"test","lastName":"member","email":"test@test.com"}'
    headers:
      X-API-TOKEN:
      - xxx
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      request-time:
      - '385'
      content-type:
      - application/json
      x-edgeconnect-midmile-rtt:
      - '13'
      x-edgeconnect-origin-mex-latency:
      - '438'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"MLRP_6lo2XeWwEHBhnk9"},"meta":{"httpStatus":"200 -
        OK","requestId":"b36a2747-33fb-4b73-b559-082d86051939"}}'
  recorded_at: Mon, 08 Jan 2018 16:45:30 GMT
recorded_with: VCR 3.0.3
