---
http_interactions:
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/mailinglists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      - 6Wpo0Vsx1cN1kcHivCaGTz5IhOvchLrg1o4L0KOZ
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"Error","errorMessage":"You do not have permission
        to access this resource.","internalErrorCode":"GS_5","errorId":"3d6a9018-3b87-4265-b662-572ad96bbe6c"},"result":null}'
  recorded_at: Sun, 22 Mar 2015 21:05:58 GMT
recorded_with: VCR 2.9.3
