---
http_interactions:
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/mailinglists/ML_0APx3C4rmHER6w5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      - 6Wpo0Vsx1cN1kcHivCaGTz5IhOvchLrg1o4L0KOZ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      request-time:
      - '216'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"ML_0APx3C4rmHER6w5","libraryId":"UR_5dURLpfp5tm43EV","name":"Panel name","category":"Unassigned"},"meta":{"httpStatus":"200 -
        OK"}}'
  recorded_at: Wed, 13 Apr 2016 13:15:28 GMT
- request:
    method: post
    uri: https://co1.qualtrics.com/API/v3/mailinglists/ML_0APx3C4rmHER6w5/contactimports
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      - 6Wpo0Vsx1cN1kcHivCaGTz5IhOvchLrg1o4L0KOZ
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta":{"status":"Error","errorMessage":"Missing or invalid parameter
        panelId.","internalErrorCode":"GPR_1","errorId":"f399b7aa-7ce4-4d1d-9903-61435a929a9d"},"result":null}'
  recorded_at: Tue, 30 Jun 2015 11:02:46 GMT
recorded_with: VCR 2.9.3
