---
http_interactions:
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/mailinglists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      - 6Wpo0Vsx1cN1kcHivCaGTz5IhOvchLrg1o4L0KOZ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      request-time:
      - '765'
    body:
      encoding: UTF-8
      string: '{"result":{"elements":[],"nextPage":"https://co1.qualtrics.com/API/v3/mailinglists?offset=10"},"meta":{"httpStatus":"200
        - OK"}}'
  recorded_at: Tue, 12 Apr 2016 21:35:39 GMT
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/mailinglists/ML_0APx3C4rmHER6w5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      - 6Wpo0Vsx1cN1kcHivCaGTz5IhOvchLrg1o4L0KOZ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      request-time:
      - '216'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"ML_0APx3C4rmHER6w5","libraryId":"UR_5dURLpfp5tm43EV","name":"Panel name","category":"Unassigned"},"meta":{"httpStatus":"200 -
        OK"}}'
  recorded_at: Wed, 13 Apr 2016 13:15:28 GMT
- request:
    method: post
    uri: https://co1.qualtrics.com/API/v3/mailinglists/ML_0APx3C4rmHER6w5/contactimports
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost\r\nContent-Disposition: form-data; name=\"contacts\";
        filename=\"contacts.json\"\r\nContent-Length: 68\r\nContent-Type: application/json\r\nContent-Transfer-Encoding:
        binary\r\n\r\n[{\"firstName\":\"Marcin\",\"lastName\":\"Naglik\",\"email\":\"test@test.com\"}]\r\n-------------RubyMultipartPost--\r\n\r\n"
    headers:
      X-API-TOKEN:
      - 6Wpo0Vsx1cN1kcHivCaGTz5IhOvchLrg1o4L0KOZ
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      request-time:
      - '160'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"PGRS_4GvIMg79RFEPW4d"},"meta":{"httpStatus":"200 -
        OK"}}'
  recorded_at: Tue, 12 Apr 2016 21:35:40 GMT
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/mailinglists/ML_bC2c5xBz1DxyOYB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      - 6Wpo0Vsx1cN1kcHivCaGTz5IhOvchLrg1o4L0KOZ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      request-time:
      - '216'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"ML_bC2c5xBz1DxyOYB","libraryId":"UR_5dURLpfp5tm43EV","name":"Panel name","category":"Unassigned"},"meta":{"httpStatus":"200 -
        OK"}}'
  recorded_at: Wed, 13 Apr 2016 13:15:28 GMT
recorded_with: VCR 2.9.3
