---
http_interactions:
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/mailinglists/ML_ez0Gj1S4SX4TZjv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      - xxx
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - application/json
      x-edgeconnect-midmile-rtt:
      - '12'
      x-edgeconnect-origin-mex-latency:
      - '195'
    body:
      encoding: UTF-8
      string: '{"meta":{"httpStatus":"404 - Not Found","error":{"errorMessage":"Mailing
        List not found","errorCode":"PACC_6"},"requestId":null}}'
  recorded_at: Mon, 08 Jan 2018 16:57:07 GMT
recorded_with: VCR 3.0.3
