---
http_interactions:
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/survey-definitions/SV_a2AcbPZz1Dxxxx/questions/QID1xxxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      -
  response:
    status:
      code: 403
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta":{"httpStatus":"403 - Forbidden","error":{"errorMessage":"The
        operation is forbidden.","errorCode":"QMST_2.1"},"requestId":"6ec1af12-073a-4420-9499-6f2cf564366c","notice":"Request
        proxied. For faster response times, use this host instead: az1.qualtrics.com"}}'
  recorded_at: Fri, 31 May 2019 05:53:29 GMT
recorded_with: VCR 3.0.3
