---
http_interactions:
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/survey-definitions/SV_a2AcbPZz1Dxxxx/questions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      -
  response:
    status:
      code: 403
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta":{"httpStatus":"403 - Forbidden","error":{"errorMessage":"The
        operation is forbidden.","errorCode":"QMST_2.1"},"requestId":"bb2e47e7-f8b0-451a-ab80-c691b45fde8b","notice":"Request
        proxied. For faster response times, use this host instead: az1.qualtrics.com"}}'
  recorded_at: Fri, 31 May 2019 05:50:34 GMT
recorded_with: VCR 3.0.3
