---
http_interactions:
- request:
    method: get
    uri: http://co1.qualtrics.com/API/v1/surveys/responseExports/ES_cwLvnQHobKfV9t3?apiToken=6Wpo0Vsx1cN1kcHivCaGTz5IhOvchLrg1o4L0KOZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: 
    headers:
      location:
      - https://co1.qualtrics.com/API/v1/surveys/responseExports/ES_cwLvnQHobKfV9t3?apiToken=6Wpo0Vsx1cN1kcHivCaGTz5IhOvchLrg1o4L0KOZ
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 23 Mar 2015 00:58:29 GMT
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v1/surveys/responseExports/ES_cwLvnQHobKfV9t3?apiToken=6Wpo0Vsx1cN1kcHivCaGTz5IhOvchLrg1o4L0KOZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":{"percentComplete":100.0,"fileUrl":"https://qualtrics-export.s3.amazonaws.com/F_bJamXsfzuGyjRWJ?Expires=1427673600&AWSAccessKeyId=AKIAI3EW3KB5A6DT2WDA&Signature=cBuebySMaFIU/St4q8idIUuxuG4%3D"},"meta":{"status":"Success","qualtricsErrorCode":null,"errorMessage":null}}'
  recorded_at: Mon, 23 Mar 2015 00:58:30 GMT
recorded_with: VCR 2.9.3
