---
http_interactions:
- request:
    method: post
    uri: https://co1.qualtrics.com/API/v3/responseexports
    body:
      encoding: UTF-8
      string: '{"format":"csv","surveyId":"SV_bpCTGQvjOqgd4RD","useLabels":false,"decimalSeparator":".","useLocalTime":false}'
    headers:
      X-API-TOKEN:
      - 6Wpo0Vsx1cN1kcHivCaGTz5IhOvchLrg1o4L0KOZ
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      request-time:
      - '317'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"ES_to9jgploprbdnvi7uir84vq59l"},"meta":{"httpStatus":"200
        - OK"}}'
  recorded_at: Tue, 12 Apr 2016 10:08:29 GMT
recorded_with: VCR 2.9.3
