---
http_interactions:
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/responseexports/ES_abcd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      - 6Wpo0Vsx1cN1kcHivCaGTz5IhOvchLrg1o4L0KOZ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      request-time:
      - '19'
    body:
      encoding: UTF-8
      string: '{"result":{"percentComplete":100.0,"file":"https://co1.qualtrics.com/API/v3/responseexports/ES_xxxxxxxxxxx/file"},"meta":{"httpStatus":"200
        - OK"}}'
  recorded_at: Tue, 12 Apr 2016 10:28:42 GMT
recorded_with: VCR 2.9.3
