---
http_interactions:
- request:
    method: post
    uri: https://co1.qualtrics.com/API/v3/responseexports
    body:
      encoding: UTF-8
      string: '{"format":"csv","surveyId":"SV_bpCTGQvjOqgd4RD","useLabels":false,"decimalSeparator":".","useLocalTime":false}'
    headers:
      X-API-TOKEN:
      - 6Wpo0Vsx1cN1kcHivCaGTz5IhOvchLrg1o4L0KOZ
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      request-time:
      - '317'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"ES_to9jgploprbdnvi7uir84vq59l"},"meta":{"httpStatus":"200
        - OK"}}'
  recorded_at: Tue, 12 Apr 2016 10:08:29 GMT
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/surveys/SV_bpCTGQvjOqgd4RD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      - 6Wpo0Vsx1cN1kcHivCaGTz5IhOvchLrg1o4L0KOZ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      request-time:
      - '642'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"SV_bpCTGQvjOqgd4RD","name":"test","ownerId":"owner_id","organizationId":"organizationid","isActive":true,"creationDate":"2016-04-01T09:12:05Z","lastModifiedDate":"2016-04-06T15:04:28Z","expiration":{"startDate":null,"endDate":null},"questions":{},"exportColumnMap":{},"blocks":{},"flow":[],"embeddedData":[],"responseCounts":{"auditable":0,"generated":2,"deleted":2}},"meta":{"httpStatus":"200
        - OK"}}'
  recorded_at: Wed, 13 Apr 2016 13:04:14 GMT
recorded_with: VCR 2.9.3
