---
http_interactions:
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/surveys/SV_0fEV92PdRg8a2e9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      - 6Wpo0Vsx1cN1kcHivCaGTz5IhOvchLrg1o4L0KOZ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      request-time:
      - '642'
    body:
      encoding: UTF-8
      string: '{"result":{"id":"SV_0fEV92PdRg8a2e9","name":"test","ownerId":"owner_id","organizationId":"organizationid","isActive":true,"creationDate":"2016-04-01T09:12:05Z","lastModifiedDate":"2016-04-06T15:04:28Z","expiration":{"startDate":null,"endDate":null},"questions":{},"exportColumnMap":{},"blocks":{},"flow":[],"embeddedData":[],"responseCounts":{"auditable":0,"generated":2,"deleted":2}},"meta":{"httpStatus":"200
        - OK"}}'
  recorded_at: Wed, 13 Apr 2016 13:04:14 GMT
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/surveys/SV_0fEV92PdRg8a2e0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      - 6Wpo0Vsx1cN1kcHivCaGTz5IhOvchLrg1o4L0KOZ
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"meta":{"httpStatus":"404 - Not Found","error":{"errorMessage":"Survey
        not found.","errorCode":"GSI_2"}}}'
  recorded_at: Wed, 13 Apr 2016 13:04:19 GMT
recorded_with: VCR 2.9.3
