---
http_interactions:
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/surveys
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      - 6Wpo0Vsx1cN1kcHivCaGTz5IhOvchLrg1o4L0KOZ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      request-time:
      - '573'
    body:
      encoding: UTF-8
      string: '{"result":{"elements":[{"id":"SV_djzgZ6eJXqnIUyF","name":"Test","ownerId":"UR_3fnAz35QCGlr725","lastModified":"2015-08-06T16:11:15Z","isActive":false}],"nextPage":"https://co1.qualtrics.com/API/v3/surveys?offset=10"},"meta":{"httpStatus":"200
        - OK"}}'
  recorded_at: Mon, 11 Apr 2016 13:04:55 GMT
- request:
    method: get
    uri: https://co1.qualtrics.com/API/v3/surveys?offset=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-API-TOKEN:
      - 6Wpo0Vsx1cN1kcHivCaGTz5IhOvchLrg1o4L0KOZ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      request-time:
      - '573'
    body:
      encoding: UTF-8
      string: '{"result":{"elements":[],"nextPage":null},"meta":{"httpStatus":"200
        - OK"}}'
  recorded_at: Mon, 11 Apr 2016 13:04:55 GMT
recorded_with: VCR 2.9.3
